agate @ file:///D:/bld/agate_1713116038542/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1738490167835/work
Brotli @ file:///D:/bld/brotli-split_1749229870877/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1752493286596/work/certifi
cffi @ file:///D:/bld/cffi_1725560706917/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
click @ file:///D:/bld/click_1747811308011/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
daff @ file:///home/conda/feedstock_root/build_artifacts/daff_1746530292218/work
dbt-adapters @ file:///home/conda/feedstock_root/build_artifacts/dbt-adapters_1752768269020/work
dbt-common @ file:///home/conda/feedstock_root/build_artifacts/dbt-common_1752049724068/work
dbt-core @ file:///home/conda/feedstock_root/build_artifacts/dbt-core_1752226047004/work
dbt-extractor @ file:///D:/bld/dbt-extractor_1744057197397/work
dbt-postgres @ file:///home/conda/feedstock_root/build_artifacts/dbt-postgres_1733818819964/work
dbt-protos @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dbt-protos_1752907744/work
dbt-semantic-interfaces @ file:///home/conda/feedstock_root/build_artifacts/dbt-semantic-interfaces_1752119986216/work
deepdiff @ file:///home/conda/feedstock_root/build_artifacts/deepdiff_1712671839005/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1738926421307/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
isodate @ file:///home/conda/feedstock_root/build_artifacts/isodate_1639582763789/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1752925388/work
jsonschema-specifications @ file:///tmp/tmpuvkyqc9y/src
leather @ file:///home/conda/feedstock_root/build_artifacts/leather_1734444499497/work
MarkupSafe @ file:///D:/bld/markupsafe_1733219614059/work
mashumaro @ file:///home/conda/feedstock_root/build_artifacts/mashumaro_1729775501798/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1745349462661/work
msgpack @ file:///D:/bld/msgpack-python_1749813211000/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1749078300/work
ordered-set @ file:///home/conda/feedstock_root/build_artifacts/ordered-set_1733927903326/work
orjson @ file:///D:/bld/bld/rattler-build_orjson_1752631211/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
parsedatetime==2.4
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1733233363808/work
protobuf @ file:///D:/bld/protobuf_1752812985805/work/bazel-bin/python/dist/protobuf-5.29.5-cp311-abi3-win_amd64.whl#sha256=3042bc10bd409eb556814614e18934c6ea1a6bb1a804c04463f711eb4281ece4
psycopg2 @ file:///D:/bld/psycopg2-split_1750255433182/work
psycopg2-binary @ file:///home/conda/feedstock_root/build_artifacts/psycopg2-split_1750255432256/work/psycopg2-binary
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1749927112905/work
pydantic_core @ file:///D:/bld/bld/rattler-build_pydantic-core_1746625452/work
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1733756245724/work
pytimeparse==1.1.8
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///D:/bld/pyyaml_1737454660454/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1749498106507/work
rpds-py @ file:///D:/bld/bld/rattler-build_rpds-py_1751467083/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
snowplow-tracker @ file:///home/conda/feedstock_root/build_artifacts/snowplow-tracker_1733818902732/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1734007102193/work
text-unidecode @ file:///home/conda/feedstock_root/build_artifacts/text-unidecode_1733749896243/work
types-requests @ file:///home/conda/feedstock_root/build_artifacts/types-requests_1749646456908/work
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1747870647094/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.23.0
